<!-- <div *ngIf="!currentUser">
    <a routerLink="/login">Login</a>
</div> -->
<h2>Edit User</h2>
<form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <label>
        Name:
        <input type="text" formControlName="name" required />
    </label>
    <div *ngIf="editUserForm.invalid && editUserForm.controls.name?.touched" style="color:red">
        <div *ngIf="editUserForm.controls.name?.errors?.['required']">
            Name is required
        </div>
        <div *ngIf="editUserForm.controls.name?.errors?.['minlength']">
            Name must be at least 4 characters long
        </div>
    </div>

    <br />

    <label>
        Email:
        <input type="email" formControlName="email" required email />
    </label>
    <div *ngIf="editUserForm.invalid && editUserForm.controls.email?.touched" style="color:red">
        <div *ngIf="editUserForm.controls.email?.errors?.['required']">
            Email is required
        </div>
        <div *ngIf="editUserForm.controls.email?.errors?.['email']">
            Invalid email format
        </div>
    </div>

    <br />

    <label>
        Password:
        <input type="text" formControlName="password" required minlength="6" />
    </label>
    <div *ngIf="editUserForm.invalid && editUserForm.controls.password?.touched" style="color:red">
        <div *ngIf="editUserForm.controls.password?.errors?.['required']">
            Password is required
        </div>
        <div *ngIf="editUserForm.controls.password?.errors?.['minlength']">
            Password must be at least 6 characters long
        </div>
    </div>

    <br />
    <label>
        Role:
        <select formControlName="role" required>
            <option value="user">Viewer</option>
            <option value="admin">Admin</option>
        </select>
        <div *ngIf="editUserForm.controls.role?.invalid && editUserForm.controls.role?.touched" style="color:red">Role is
            required</div>
    </label>
    <label>
        <div formArrayName="skills" class="skills-container">
            Skills:
            <div *ngFor="let skill of editUserForm.controls.skills.controls; let i = index">
                <input type="text" [formControlName]="i" />
            </div>
            <button type="button" class="add-button" (click)="addSkill()">+</button>
        </div>
    </label>
    <br /><br />

    <button type="submit">Update User</button>
</form>
