<!-- <div *ngIf="!user">
    <a routerLink="/login">Login</a>
</div> -->

<app-header [userRole]="user?.role || ''"></app-header>
<div class="homeContainer">
    Welcome to Home Page of Advanced User Management Panel
    <div class="user-info" *ngIf="user">
        <h2>User Information</h2>
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Role:</strong> {{ user.role }}</p>
        <p><strong>Skills:</strong></p>
        <ul>
            <li *ngFor="let skill of user.skills">
                {{ skill }}
            </li>
        </ul>
    </div>
    <button (click)="logout()" class="logout-button">Logout</button>
</div>
